@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  text-decoration: underline;
}

textarea {
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgba(250, 250, 250);
  padding: 4px 8px;
  font-family: monospace;
}

button {
  box-sizing: border-box;
  border: 1px solid rgb(25, 25, 25);
  color: 2px solid rgb(25, 25, 25);
  background-color: rgb(220, 220, 220);

  border-radius: 3px;
  padding: 4px 8px;
  font-weight: bold;

  &:not([disabled]):hover {
    background-color: rgb(200, 200, 200);
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    background-color: rgb(240, 240, 240);
  }
}
