# URLs to other Zukyc applications
NEXT_PUBLIC_GPC_PROVER_CLIENT_URL=http://localhost:3002

NEXT_PUBLIC_GOV_EDDSA_PUBLIC_KEY=NnGAciO/OIz+R5aYBlTUb+QwCgD5xossqB8gZtKLOxs
NEXT_PUBLIC_DEEL_EDDSA_PUBLIC_KEY=HLVAjjMzH0LVzBxt7dbEvoGjRNEzonnw/fUnxqLikx8

# The REST API URL and REST API token to connect to the local Vercel KV instance
# See this: https://github.com/vercel/storage/issues/281
# You can also create a KV database on Vercel, and get the environment variables by
# following this guide: https://vercel.com/docs/storage/vercel-kv/rest-api
KV_REST_API_URL=http://localhost:8079
KV_REST_API_TOKEN=example_token
